@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
body,
html {
  font-family: "Roboto", sans-serif;
}

.heading {
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  font-size: 2em;
  line-height: 1.4em;
  color: #07294d;
  font-weight: 900;
}

.heading-small {
  font-size: 1.3em;
  text-transform: none;
  color: #0b7712;
  font-family: "Lato", sans-serif;
  line-height: 1.4em;
}

.title {
  font-size: 2.1rem;
  color: #fff;
  font-family: "Monteserrat", sans-serif;
  font-weight: 700;
}

.text {
  color: #717a7b;
  line-height: 1.61905em;
  font-weight: 400;
}

@media only screen and (max-width: 991px) {
  .heading {
    margin-top: 0.8em !important;
  }
}

@media only screen and (max-width: 425px) {
  .heading {
    font-size: 2em !important;
  }
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  font-size: 18px;
  width: 100%;
  height: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
}

::selection {
  background: #ffcdab;
}

p,
span {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.mandatory {
  color: #ed3f34;
}

.cta {
  border: 2px solid #000;
  outline: none;
  background: #e4e4e4;
  color: #000;
  border-radius: 3px;
  padding: 8px 30px;
  margin-top: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  width: unset;
  position: relative;
  transition: 250ms ease-in-out;
  display: table;
  padding: 20px 75px 20px 25px;
  margin: 25px auto 0 auto;
  border: 1px solid #403f41;
  padding: 20px 75px 20px 25px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 20px;
  cursor: pointer;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.cta:hover {
  color: #fff;
  border-color: #403f41;
  text-decoration: none;
  background: inherit;
}

.cta:hover::after {
  backface-visibility: hidden !important;
  transform: scaleY(1);
}

.cta:hover .font {
  color: #000;
}

.cta .font {
  color: #fff;
}

.cta::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  background: #403f41;
  z-index: -1;
  transition: transform 0.3s;
}

.primary-button {
  border: none;
  outline: none;
  background: #07294d;
  color: #fff;
  display: table;
  border-radius: 3px;
  padding: 8px 30px;
  margin-top: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: circular-bold, Arial, sans-serif;
  width: unset;
  position: relative;
  transition: 250ms ease-in-out;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.primary-button:hover {
  color: #fff;
  transition: 250ms ease-in-out;
  background: #154f98;
}

.banner {
  height: 70vh;
  position: relative;
}

.banner img {
  object-fit: cover;
}

.banner .breadtitle {
  text-transform: capitalize;
}

.banner-content {
  position: absolute;
  top: 60%;
  color: #fff;
}

.banner-content .title {
  color: #fff;
  font-size: 1.4rem;
}

.crossanimation {
  color: white;
  position: relative;
  display: block;
  letter-spacing: 0.2em;
}

.crossanimation:hover::before {
  transform-origin: left top;
  transform: scaleX(1);
}

.crossanimation::before {
  position: absolute;
  content: "";
  top: 22px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
  transform-origin: right top;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.space {
  margin: 40px 0;
}

.flex {
  display: flex;
}

.icon svg {
  fill: white;
  height: 24px !important;
  width: 24px !important;
}

.icon svg path {
  stroke: white;
}

@media only screen and (max-width: 425px) {
  .space {
    margin: 20px 0;
  }
}

body,
html {
  font-family: "Roboto", sans-serif;
}

.heading {
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  font-size: 2em;
  line-height: 1.4em;
  color: #07294d;
  font-weight: 900;
}

.heading-small {
  font-size: 1.3em;
  text-transform: none;
  color: #0b7712;
  font-family: "Lato", sans-serif;
  line-height: 1.4em;
}

.title {
  font-size: 2.1rem;
  color: #fff;
  font-family: "Monteserrat", sans-serif;
  font-weight: 700;
}

.text {
  color: #717a7b;
  line-height: 1.61905em;
  font-weight: 400;
}

@media only screen and (max-width: 991px) {
  .heading {
    margin-top: 0.8em !important;
  }
}

@media only screen and (max-width: 425px) {
  .heading {
    font-size: 2em !important;
  }
}

.navbar-top {
  background: #07294d;
  padding: 0.6rem 0;
}

.navbar-top a {
  color: #fff;
  font-size: 0.9rem;
}

.navbar-top .flex {
  align-items: center;
  justify-content: space-between;
}

.navbar-top__contact {
  display: flex;
}

.navbar-top__contact li {
  margin-right: 1rem;
}

.navbar-top__social {
  display: flex;
  align-items: center;
}

.navbar-top__social .socialicon {
  color: #eee;
  font-size: 0.9rem;
  margin-right: 1.5rem;
}

.navbar-top__social .socialicon .text {
  color: #eee;
  margin-right: 1rem;
}

.navbar-top__social .socialicon a {
  margin: 0 0.3rem;
}

.navbar-top__social .socialicon a .uk-icon-button {
  height: 26px;
  width: 26px;
}

.navbar-top__social .uk-button {
  line-height: 28px;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

.navbar-main .flex {
  justify-content: space-between;
  align-items: center;
}

.navbar-main .logo {
  display: flex;
  align-items: center;
}

.navbar-main .logo img {
  height: 90px;
  width: 120px;
}

.navbar-main .uk-navbar-nav li.uk-active a {
  color: #ed3f34 !important;
}

.navbar-main .uk-navbar-nav li a {
  font-family: "Roboto";
  font-size: 0.89rem;
  font-weight: 500;
  color: #07294d;
}

footer {
  background: #07294d;
  padding: 4rem 0 2rem 0;
  color: #fff;
}

footer .footer-content {
  font-size: 0.9rem;
}

footer .footer-content .logo {
  margin-bottom: 2rem;
}

footer .footer-content .logo img {
  height: 90px;
  width: 100px;
}

footer .footer-content .text {
  color: #eee;
}

footer .footer-content__title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 3rem;
}

footer .footer-content__social {
  display: flex;
  margin-top: 1.3rem;
}

footer .footer-content__social li {
  margin-right: 1rem;
}

footer .footer-content .uk-list-secondary > ::before {
  color: #eee !important;
}

footer .footer-content .uk-list li a {
  color: #eee;
  font-size: 0.9rem;
  text-transform: capitalize;
}

footer .footer-content .contact-list .flex span {
  margin-right: 0.6rem;
}

footer .footer-copyright {
  border-top: 1px solid #eee;
  padding: 1.5rem 0 0 0;
}

footer .footer-copyright .uk-text {
  color: #eee;
  font-size: 0.8rem;
}

.events-card {
  padding: 1.2rem;
  background: #f1f1f1;
  border-radius: 0.3rem;
  overflow: hidden;
  margin: 2rem 0;
  box-shadow: 0px 2px 3px 0px #95aac04a;
  transition: all 550ms ease-in-out;
}

.events-card:hover {
  transform: translateY(-10px);
}

.events-card__image img {
  border-radius: 0.3rem;
  height: 190px;
  object-fit: cover;
}

.events-card__content {
  padding: 1rem 0 0 0;
}

.events-card__content .type {
  font-size: 0.7rem;
  color: #41a0ff;
  background: #ffffff;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.events-card__content .title {
  color: #000;
  font-size: 1.35rem;
  line-height: 1.3;
  padding: 0.5rem 0;
}

.events-card__content .speaker {
  padding: 0.4rem 0;
}

.events-card__content .speaker .uk-icon {
  color: #0f63ff;
}

.events-card__content .speaker-name {
  font-size: 0.9rem;
  margin-left: 0.4rem;
}

.events-card__content .readmore a {
  color: #0f63ff;
  font-size: 0.8rem;
}

.events-card__content .readmore a:hover::before {
  border: 1px solid #0f63ff;
}

.home-slideshow img {
  object-fit: cover;
}

.home-slideshow .slider {
  min-height: 65vh !important;
}

.home-slideshow .uk-slidenav {
  background: #fff;
  color: #000 !important;
  border-radius: 50px;
  padding: 0.5rem 0.8rem;
}

.home-sponsor {
  position: relative;
  margin-top: -6rem;
}

.home-sponsor__background {
  background: #07294d;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.home-sponsor__background .title {
  font-size: 2.1rem;
  color: #fff;
  margin-left: 2rem;
  font-family: "Monteserrat", sans-serif;
  font-weight: 700;
}

.home-sponsor__background .slider {
  width: 70%;
}

.home-sponsor__background .uk-panel img {
  height: 150px;
  object-fit: contain;
}

.home-about {
  margin: 6rem 0;
}

.home-about__content .small-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #07294d;
  font-family: "Monteserrat", sans-serif;
}

.home-about__content .small-title.uk-heading-bullet::before {
  border-left: calc(5px + 0.1em) solid #07294d;
}

.home-about__content .title {
  font-size: 1.6rem;
  color: #000;
  text-transform: capitalize;
  margin-top: 1rem;
  width: 70%;
  line-height: 1.3;
}

.home-about__content .text {
  margin: 2rem 0;
  width: 80%;
}

.home-about__content .about-cta {
  display: inline-block;
}

.home-about__content .about-cta .primary-button {
  margin: unset;
}

.home-applyresource {
  margin: 4rem 0;
}

.home-applyresource__video {
  width: 50%;
  background-color: #07294d;
  background-image: url("https://images.unsplash.com/photo-1601933973783-43cf8a7d4c5f?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  height: 40vh;
  background-blend-mode: screen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-applyresource__video .uk-icon-button {
  height: 60px;
  width: 60px;
}

.home-applyresource__video .uk-icon-button svg polygon {
  fill: #999;
}

.home-applyresource__content {
  width: 50%;
  background: #092e56;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-applyresource__content .title {
  font-size: 1.6rem;
}

.home-applyresource__content .text {
  color: #f1f1f1;
}

.home-applyresource__content .uk-button {
  margin-top: 1.6rem;
}

.home-ourteam {
  background: #edf0f2;
  padding: 4rem 0;
  margin: 4rem 0;
}

.home-ourteam .small-title {
  font-size: 1.4rem;
  color: #092e56;
  text-align: center;
  font-weight: 700;
  font-family: "Monteserrat", sans-serif;
  width: 100%;
}

.home-ourteam .title {
  margin: 1rem 0;
  color: #07294d;
  text-align: center;
  font-family: "Monteserrat", sans-serif;
  font-weight: 700;
  width: 100%;
}

.home-ourteam__content {
  margin: 3rem 0;
}

.home-ourteam__content .team-card__img {
  height: 270px;
  border-radius: 0.3rem;
  overflow: hidden;
}

.home-ourteam__content .team-card__img img {
  object-fit: cover;
}

.home-ourteam__content .team-card__content {
  color: #07294d;
  margin-top: 1rem;
}

.home-ourteam__content .team-card__content .name {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Monteserrat", sans-serif;
}

.home-ourteam__content .team-card__content .email a {
  font-size: 0.8rem;
  color: #4a4a4a;
}

.home-ourteam__content .team-card__content .number {
  color: #4a4a4a;
  font-size: 0.8rem;
}

.home-news .small-title {
  font-size: 1.4rem;
  color: #092e56;
  text-align: center;
  font-weight: 700;
  font-family: "Monteserrat", sans-serif;
  width: 100%;
}

.home-news .title {
  margin: 1rem 0;
  color: #07294d;
  text-align: center;
  font-family: "Monteserrat", sans-serif;
  font-weight: 700;
  width: 100%;
}

.home-news__content {
  margin: 3rem 0;
}

.home-news__content .news-card__image {
  border-radius: 0.3rem;
  overflow: hidden;
}

.home-news__content .news-card__content {
  margin: 2rem 0;
}

.home-news__content .news-card__content .info {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.home-news__content .news-card__content .info .date {
  display: flex;
  align-items: center;
}

.home-news__content .news-card__content .info .date span {
  margin-right: 0.4rem;
}

.home-news__content .news-card__content .info .author {
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
}

.home-news__content .news-card__content .info .author span {
  margin-right: 0.4rem;
}

.home-news__content .news-card__content .heading {
  font-size: 1.2rem;
  margin: 0.3rem 0;
}

.home-news__content .news-card__content .description {
  margin: 1rem 0;
}

.home-news__content .news-card.large .news-card__image {
  height: 400px;
}

.home-news__content .news-card.small {
  display: flex;
  margin-bottom: 1rem;
}

.home-news__content .news-card.small .news-card__image {
  height: 130px;
  flex: 0.5;
  margin-right: 1rem;
}

.home-news__content .news-card.small .news-card__image img {
  object-fit: cover;
}

.home-news__content .news-card.small .news-card__content {
  flex: 0.5;
  margin: unset;
}

.contact-content {
  margin: 4rem 0;
}

.contact-content__box {
  background: #f1f1f1;
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0px 4px 2px 0px #e2eaf3;
}

.contact-content__box.contactdetail {
  background: #07294d;
  color: #eee;
}

.contact-content__box.contactdetail .heading {
  color: #eee;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.contact-content__box.contactdetail .text {
  margin-bottom: 1rem;
  color: #eee;
}

.contact-content__box.contactdetail .detail-list {
  margin: 2rem 0;
}

.contact-content__box.contactdetail .detail-list__listing .uk-flex {
  align-items: center;
}

.contact-content__box.contactdetail .detail-list__listing .uk-icon {
  margin-right: 0.5rem;
  width: 40px;
}

.contact-content__box.contactdetail .detail-list__listing .uk-text {
  color: #c8c8c8;
}

.contact-content__box.contactform .heading {
  font-size: 1.6rem;
}

.contact-content__box.contactform .heading-small {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Monteserrat", sans-serif;
}

.contact-content__box.contactform form {
  margin-top: 2rem;
}

.contact-content__box.contactform form .uk-form-label {
  margin-bottom: 0.6rem;
}

.resource-content {
  margin-top: 4rem;
}

.resource-content__form {
  width: 65%;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0px 3px 0px 3px #d9d9d982;
}

.resource-content__form .logo {
  display: flex;
  justify-content: center;
}

.resource-content__form .logo img {
  height: 90px;
  width: 120px;
}

.resource-content__form .heading {
  font-size: 1.4rem;
}

.resource-content__form .requestform {
  margin: 2rem 0;
}

.resource-content__form .requestform .uk-form-label {
  margin-bottom: 0.5rem;
}

.resource-content__faq {
  margin-top: 3rem;
  padding: 3rem 0;
  background: #f1f1f1;
}

.resource-content__faq .faqwidth {
  width: 65%;
  margin: 0 auto;
}

.resource-content__faq .faqwidth .uk-accordion {
  margin-top: 3rem;
}


.events-content {
  margin: 4rem 0;
}

.single-content {
  margin: 4rem 0;
  background: #f1f1f1;
  border-radius: 0.3rem;
}

.single-content__top {
  padding: 1rem;
}

.single-content__top .image {
  flex: 0.6;
  height: 400px;
}

.single-content__top .image img {
  object-fit: cover;
  border-radius: 0.3rem;
}

.single-content__top .rightsection {
  flex: 0.4;
  height: 400px;
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-content__top .rightsection .type {
  font-size: 0.7rem;
  color: #41a0ff;
  background: #ffffff;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.single-content__top .rightsection .title {
  color: #000;
  font-size: 1.35rem;
  line-height: 1.3;
  padding: 0.5rem 0;
}

.single-content__top .rightsection .speaker {
  padding: 0.4rem 0;
  margin-top: 1.4rem;
}

.single-content__top .rightsection .speaker .uk-icon {
  color: #0f63ff;
}

.single-content__top .rightsection .speaker-name {
  font-size: 0.9rem;
  margin-left: 0.4rem;
}

.single-content__top .rightsection .countdown {
  margin: 2rem 0;
}

.single-content__top .rightsection .countdown .align {
  align-items: flex-end;
}

.single-content__top .rightsection .countdown .uk-countdown-number {
  font-size: 1.2rem;
  color: #07294d;
}

.single-content__top .rightsection .price {
  color: #07294d;
  font-size: 1.2rem;
}

.single-content__cta {
  padding: 1rem;
  border: 1px solid #dbdae3;
  border-left: unset;
  border-right: unset;
}

.single-content__cta .uk-flex {
  align-items: center;
}

.single-content__cta .uk-flex .share {
  flex: 0.6;
}

.single-content__cta .uk-flex .register-cta {
  flex: 0.4;
  margin-left: 1.4rem;
}

.single-content__cta .uk-flex .register-cta .primary-button {
  margin: unset;
}

.single-content__message {
  padding: 2rem 1rem;
}

.single-content__message .content {
  flex: 0.6;
}

.single-content__message .content .text {
  margin: 0.6rem 0;
  font-size: 0.9rem;
  width: 90%;
}

.single-content__message .details {
  flex: 0.4;
  margin-left: 1.4rem;
}

.single-content__message .details .heading {
  font-size: 1.4rem;
}

.single-content__message .details-list {
  margin: 1.4rem 0;
}

.single-content__message .details-list__listing {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
  font-size: 0.9rem;
}

