{% extends 'base.html' %}

{% block content %}
<div class="slider-area2">
<div class="slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap text-center">
<h2>About Us</h2>
</div>
</div>
</div>
</div>
</div>
</div>


{% if about %}
<section class="about-low-area section-padding">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12">
<div class="about-caption mb-50">

<div class="section-tittle mb-35">
<h2>{{ about.main_headline }}</h2>
</div>
<p>{{ about.details | safe }}</p>
</div>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
<div class="single-caption mb-20">
<div class="caption-icon">
<span class="flaticon-communications-1"></span>
</div>
<div class="caption">
<h5>Where</h5>
<p>{{ about.where }}</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
<div class="single-caption mb-20">
<div class="caption-icon">
<span class="flaticon-education"></span>
</div>
<div class="caption">
<h5>When</h5>
<p>{{ about.when }}</p>
</div>
</div>
</div>
</div>
<a href="{{ about.button_url }}" class="btn mt-50">{{ about.button_text }}</a>
</div>
<div class="col-lg-6 col-md-12">

<div class="about-img ">
<div class="about-back-img ">
<img src="{{ about.image.url }}" alt="">
</div>
</div>
</div>
</div>
</div>
</section>
{% endif %}

{% if galleries %}
<div class="gallery-area fix">
<div class="container-fluid p-0">
<div class="row no-gutters">
    {% for gallery in galleries %}
<div class="col-lg-3 col-md-3 col-sm-6">
<div class="gallery-box">
<div class="single-gallery">
<div class="gallery-img " style="background-image: url({{ gallery.image.url }});"></div>
</div>
</div>
</div>
    {% endfor %}
</div>
</div>
</div>
{% endif %}
{% endblock %}
