{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HPC Kathmandu University</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'img/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    />
    <link rel="manifest" href="img/site.webmanifest" />
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta property="og:title" content="KU Supercomputer" />
    <meta name="description" content=" " />
    <meta property="og:url" content="http://www" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" type="text/css" />
    <link href="https://unpkg.com/pattern.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  </head>

  <body>
     <header>
  <div class="navbar-top">
    <div class="uk-container flex">
      <ul class="navbar-top__contact">
        <li class="email">
          <a href="mailto:">
            <span uk-icon="icon: mail;" class="uk-icon"></span>
            info@ashish.com
          </a>
        </li>
        <li class="phone">
          <a href="tel:">
            <span uk-icon="icon: receiver;"></span>
            + 9812345678
          </a>
        </li>
      </ul>
      <ul class="navbar-top__social">
        <li class="socialicon">
          <span class="text"> Follow Us: </span>
          <a href="fb.com">
            <span uk-icon="icon: facebook;" class="uk-icon-button"></span>
          </a>
          <a href="youtube.com">
            <span uk-icon="icon: youtube; " class="uk-icon-button"></span>
          </a>
          <a href="twitter.com">
            <span uk-icon="icon: twitter; " class="uk-icon-button"></span>
          </a>
        </li>
        <li>
          <a href="{% url 'application' %}" class="uk-button uk-button-primary"
            >request for resource</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent top: 200"
  >
    <nav class="uk-navbar-container navbar-main">
      <div class="uk-container uk-container">
        <div uk-navbar class="flex">
          <div class="logo">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/hpclogo.png' %}" alt="" />
            </a>
          </div>
          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">home</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">teams</a></li>
            <li><a href="{% url 'event_list' %}">events</a></li>
            <li><a href="#">news & blogs</a></li>
            <li><a href="{% url 'contact' %}">contact us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
{% block content %}


{% endblock %}
<footer>
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-1-3">
        <div class="footer-content">
          <div class="logo">
            <a href="index.html">
              <img src="{% static 'img/hpclogowhite.png' %}" alt="" />
            </a>
          </div>
          <div class="uk-text text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
            cum, architecto nulla dolorem tempora ratione laudantium velit
            obcaecati repellendus sapiente ipsa dicta voluptates exercitationem
            ab veniam, quae nobis quidem saepe!
          </div>
          <ul class="footer-content__social">
            <li>
              <a href="fb.com">
                <span uk-icon="icon: facebook;" class="uk-icon-button"></span>
              </a>
            </li>
            <li>
              <a href="youtube.com">
                <span uk-icon="icon: youtube; " class="uk-icon-button"></span>
              </a>
            </li>
            <li>
              <a href="twitter.com">
                <span uk-icon="icon: twitter; " class="uk-icon-button"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="uk-width-1-3">
        <div class="footer-content">
          <div class="footer-content__title uk-heading-small">Quick Links</div>
          <div uk-grid>
            <div class="uk-width-1-2">
              <ul class="uk-list uk-list-hyphen uk-list-secondary">
                <li class="uk-text-capitalize">
                  <a href="index.html">Home</a>
                </li>
                <li><a href="about.html">about us</a></li>
                <li><a href="teams.html">our teams</a></li>
                <li><a href="news.html">news & events</a></li>

                <li><a href="contact.html">contact us</a></li>
              </ul>
            </div>
            <div class="uk-width-1-2">
              <ul class="uk-list uk-list-hyphen uk-list-secondary">
                <li class="uk-text-capitalize">
                  <a href="index.html">Request Resource</a>
                </li>
                <li><a href="about.html">Blogs</a></li>
                <li><a href="teams.html">Upcoming events</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-3">
        <div class="footer-content">
          <div class="footer-content__title uk-heading-small">Contact Us</div>
          <ul class="uk-list contact-list">
            <li>
              <div class="flex">
                <span uk-icon="icon: location"></span>
                <div class="uk-text">Anamnagar-2, Kathmandu-Bagmati, Nepal</div>
              </div>
            </li>
            <li>
              <div class="flex">
                <span uk-icon="icon: receiver"></span>
                <div class="uk-text">+977-9810132504, 01-234556</div>
              </div>
            </li>
            <li>
              <div class="flex">
                <span uk-icon="icon: mail"></span>
                <div class="uk-text">ashishbro@hpc.com.np</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div uk-grid>
      <div class="uk-width-1-1">
        <div class="footer-copyright">
          <div class="uk-text">
            &copy; Copyright 2021 HPC KU. All Right Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/uikit.min.js' %}"></script>
  <script src="{% static 'js/uikit-icons.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/blueimp-gallery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/scroll.js' %}"></script>
  <script>
    AOS.init();
  </script>
</html>
