{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title> High Performance Computing | Kathmandu University </title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<nav class="navbar">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggler" data-toggle="open-navbar1">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="#">
          <h4>Super<span>Computer</span></h4>
        </a>
      </div>

      <div class="navbar-menu" id="open-navbar1">
        <ul class="navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="navbar-dropdown">
            <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
              Categories <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown" id="my-dropdown-id">
              <li><a href="#">Actions</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="separator"></li>
              <li><a href="#">Seprated link</a></li>
              <li class="separator"></li>
              <li><a href="#">One more seprated link.</a></li>
            </ul>
          </li>
          <li class="navbar-dropdown">
            <a href="#" class="dropdown-toggler" data-dropdown="blog">
              Blog <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown" id="blog">
              <li><a href="#">Some category</a></li>
              <li><a href="#">Some another category</a></li>
              <li class="separator"></li>
              <li><a href="#">Seprated link</a></li>
              <li class="separator"></li>
              <li><a href="#">One more seprated link.</a></li>
            </ul>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Signin</a></li>
        </ul>
      </div>
    </div>
  </nav>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>

<div class="footer-area footer-padding">
<div class="container">
<div class="row d-flex justify-content-between">
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="single-footer-caption mb-50">
<div class="single-footer-caption mb-30">
<div class="footer-tittle">
<h4>About Us</h4>
<div class="footer-pera">
<p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Contact Info</h4>
<ul>
<li>
<p>Address :Your address goes here, your demo address.</p>
</li>
<li><a href="#">Phone : +8880 44338899</a></li>
<li><a href="#">Email : <span class="__cf_email__" data-cfemail="a8c1c6cec7e8cbc7c4c7dac4c1ca86cbc7c5">[email&#160;protected]</span></a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Important Link</h4>
<ul>
<li><a href="#"> View Project</a></li>
<li><a href="#">Contact Us</a></li>
<li><a href="#">Testimonial</a></li>
<li><a href="#">Proparties</a></li>
<li><a href="#">Support</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Newsletter</h4>
<div class="footer-pera footer-pera2">
<p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
</div>

<div class="footer-form">
<div id="mc_embed_signup">
<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part">
<input type="email" name="email" id="newsletter-form-email" placeholder="Email Address" class="placeholder hide-on-focus" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ' Email Address '" data-cf-modified-e108465973b1c867d2ec03f2-="">
<div class="form-icon">
<button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm"><img src="{% static '' %}img/gallery/form.png" alt=""></button>
</div>
<div class="mt-10 info"></div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="row footer-wejed justify-content-between">
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">

<div class="footer-logo mb-20">
<a href="{% url 'home' %}"><!--<img src="{% static 'img/logo/logo2_footer.png' %}" alt="">--></a>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
<div class="footer-tittle-bottom">
<span>5000+</span>
<p>Nodes</p>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
<div class="footer-tittle-bottom">
<span>451</span>
<p>Storage</p>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">

<div class="footer-tittle-bottom">
<span>568</span>
<p>Bandwidth</p>
</div>
</div>
</div>
</div>
</div>

<div class="footer-bottom-area footer-bg">
<div class="container">
<div class="footer-border">
<div class="row d-flex justify-content-between align-items-center">
<div class="col-xl-10 col-lg-8 ">
<div class="footer-copy-right">
<p>
Copyright &copy;<script type="e108465973b1c867d2ec03f2-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved HPC Kathmandu University| Powered by <a href="https://techhimalaya.com/" target="_blank">Tech Himalaya</a>
</p>
</div>
</div>
<div class="col-xl-2 col-lg-4">
<div class="footer-social f-right">
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fas fa-globe"></i></a>
<a href="#"><i class="fab fa-behance"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>

</footer>

<div id="back-top">
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/popper.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/jquery.slicknav.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/owl.carousel.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/slick.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/wow.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/animated.headline.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/gijgo.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/jquery.nice-select.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/jquery.sticky.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/jquery.counterup.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/waypoints.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/contact.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/jquery.form.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/jquery.validate.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/mail-script.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>

<script src="{% static 'js/plugins.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="e108465973b1c867d2ec03f2-text/javascript"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>