{% extends 'base.html' %}

{% block content %}
<div class="slider-area2">
<div class="slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap hero-cap2 text-center">
<h2>News and Activities</h2>
</div>
</div>
</div>
</div>
</div>
</div>
{% if news %}
<section class="home-blog-area section-padding">
<div class="container">
<div class="row">
    {% for new in news %}
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="home-blog-single mb-30">
<div class="blog-img-cap">
<div class="blog-img">
<img src="{{ new.thumbnail.url }}" alt="">

<div class="blog-date text-center">
<span>{{ new.published_date.date.day }}</span>
<p>{{ new.published_date.date.month }}</p>
</div>
</div>
<div class="blog-cap">
<p>| {{ new.category }}</p>
<h3><a href="blog_details.html">{{ new.title }}</a></h3>
<a href="{% url 'newsdetail' new.slug %}" class="more-btn">Read more »</a>
</div>
</div>
</div>
</div>
    {% endfor %}
</div>
</div>
</section>
{% endif %}
{% endblock %}