{% extends 'base.html' %}
{% block content %}

<div class="slider-area2">
<div class="slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap hero-cap2 text-center">
<h2>{{ news.title }}</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="blog_area single-post-area section-padding">
<div class="container">
<div class="row">
<div class="col-lg-8 posts-list">
<div class="single-post">
<div class="feature-img">
<img class="img-fluid" src="{{ news.thumbnail.url }}" alt="">
</div>
<div class="blog_details">
<h2 style="color: #2d2d2d;">{{ news.title }}
</h2>
<ul class="blog-info-link mt-3 mb-4">
<li><a href="#"><i class="fa fa-user"></i> {{ news.category }}</a></li>
<li><a href="#"><i class="fa fa-clock"></i> {{ news.published_date.date }}</a></li>
</ul>
<p>
{{ news.detail | safe }}
</p>
</div>
</div>
</section>
{% endblock %}