{% extends 'base.html' %}
{% block content %}
 <div class="contact">
  <div
    class="uk-height-medium uk-background-cover uk-light"
    data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80"
    data-srcset="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=1300&h=866&q=80 1300w"
    data-sizes="(min-width: 650px) 650px, 100vw"
    uk-img
  >
    <div class="uk-height-medium uk-flex uk-flex-middle">
      <div class="uk-container" style="width: 100%">
        <h1 class="title">Contact Us</h1>
      </div>
    </div>
  </div>

  <div class="contact-content">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-2-5@l uk-width-2-5@m">
          <div class="contact-content__box contactdetail">
            <div class="heading">Contact Details</div>
            <div class="detail">
              <div class="uk-text text">
                If you have any further questions, please don’t hesitate to
                contact me.
              </div>
              <ul class="uk-list detail-list">
                <li class="detail-list__listing">
                  <div class="uk-flex">
                    <span uk-icon="icon: location;"></span>
                    <div class="uk-text">
                      143 castle road 517 district, kiyev port south Canada
                    </div>
                  </div>
                </li>
                <li class="detail-list__listing">
                  <div class="uk-flex">
                    <span uk-icon="icon: receiver"></span>
                    <div class="uk-text">+977-9810132504, 01-234556</div>
                  </div>
                </li>
                <li class="detail-list__listing">
                  <div class="uk-flex">
                    <span uk-icon="icon: mail"></span>
                    <div class="uk-text">ashishbro@hpc.com.np</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-3-5@l uk-width-3-5@m">
          <div class="contact-content__box contactform">
            <div class="heading-small">Send Us</div>
            <div class="heading">Contact Form</div>
            <form action="">
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@m">
                  <div class="uk-form-label">
                    First Name <span class="mandatory">*</span>
                  </div>
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Your First Name"
                    required
                  />
                </div>
                <div class="uk-width-1-2@m">
                  <div class="uk-form-label">
                    Last Name <span class="mandatory">*</span>
                  </div>
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Your Last Name"
                    required
                  />
                </div>
                <div class="uk-width-1-2@s">
                  <div class="uk-form-label">
                    Email <span class="mandatory">*</span>
                  </div>
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Your Email Address"
                    required
                  />
                </div>
                <div class="uk-width-1-2@s">
                  <div class="uk-form-label">
                    Mobile Number <span class="mandatory">*</span>
                  </div>
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Your Mobile Number"
                    required
                  />
                </div>
                <div class="uk-width-1-1">
                  <div class="uk-form-label">
                    Subject <span class="mandatory">*</span>
                  </div>
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Your Subject"
                    required
                  />
                </div>
                <div class="uk-width-1-1">
                  <div class="uk-form-label">
                    Message <span class="mandatory">*</span>
                  </div>
                  <textarea
                    class="uk-textarea"
                    rows="5"
                    placeholder="Your Message"
                    required
                  ></textarea>
                </div>
                <div class="uk-margin">
                  <button class="primary-button">Submit Form</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
