{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="events">
  <div
    class="uk-height-medium uk-background-cover uk-light"
    data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80"
    data-srcset="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=1300&h=866&q=80 1300w"
    data-sizes="(min-width: 650px) 650px, 100vw"
    uk-img
  >
    <div class="uk-height-medium uk-flex uk-flex-middle">
      <div class="uk-container" style="width: 100%">
        <h1 class="title">Our Events</h1>
      </div>
    </div>
  </div>
  <div class="events-content">
    <div class="uk-container">
      <div class="heading uk-text-center">Checkout Our Events</div>
      <div uk-grid>
          {% if events %}
          {% for event in events %}
        <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-2@s">
          <div class="events-card">
            <div class="events-card__image">
              <a href="{% url 'event_detail' event.slug %}">
                <img
                  src="{{ event.thumbnail.url }}"
                  alt=""
                />
              </a>
            </div>
            <div class="events-card__content">
              <div class="type uk-text-capitalize">{{ event.category }}</div>
              <a href="{% url 'event_detail' event.slug %}">
                <div class="title">{{ event.title }}</div>
              </a>
              <div class="speaker">
                <div class="uk-flex">
                  <span uk-icon="icon:microphone"></span>
                  <div class="uk-text speaker-name">
                    Speaker: {{ event.speaker }}
                  </div>
                </div>
              </div>
              <div class="readmore">
                <a class="uk-button uk-button-text" href="{% url 'event_detail' event.slug %}"
                  >Read more</a
                >
              </div>
            </div>
          </div>
        </div>
              {% endfor %}
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}