{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if about %}
<section class="about-low-area">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12">
<div class="about-caption mb-50">

<div class="section-tittle mb-35">
<h2>{{ about.main_headline }}</h2>
</div>
<p>{{ about.details | safe }}</p>
</div>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
<div class="single-caption mb-20">
<div class="caption-icon">
<span class="flaticon-communications-1"></span>
</div>
<div class="caption">
<h5>Where</h5>
<p>{{ about.where }}</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
<div class="single-caption mb-20">
<div class="caption-icon">
<span class="flaticon-education"></span>
</div>
<div class="caption">
<h5>When</h5>
<p>{{ about.when }}</p>
</div>
</div>
</div>
</div>
<a href="{{ about.button_url }}" class="btn mt-50">{{ about.button_text }}</a>
</div>
<div class="col-lg-6 col-md-12">

<div class="about-img ">
<div class="about-back-img ">
<img src="{{ about.image.url }}" alt="">
</div>
</div>
</div>
</div>
</div>
</section>
{% endif %}

{% if news %}
<section class="home-blog-area section-padding30">
<div class="container">

<div class="row justify-content-center">
<div class="col-lg-5 col-md-8">
<div class="section-tittle text-center mb-50">
<h2>Recent News and Activities at HPC KU</h2>
<p>Get Updated with Recent News at HPC KU/p>
</div>
</div>
</div>
<div class="row">
    {% for new in news %}
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="home-blog-single mb-30">
<div class="blog-img-cap">
<div class="blog-img">
<img src="{{ new.thumbnail.url }}" alt="">

<div class="blog-date text-center">
<span>{{ new.published_date.date.day }}</span>
<p>{{ new.published_date.date.month }}</p>
</div>
</div>
<div class="blog-cap">
<p>| {{ new.category }}</p>
<h3><a href="blog_details.html">{{ new.title }}</a></h3>
<a href="blog_details.html" class="more-btn">Read more »</a>
</div>
</div>
</div>
</div>
    {% endfor %}
</div>
</div>
</section>
{% endif %}

<section class="team-area pt-180 pb-100 section-bg" style="background: url('{% static 'img/gallery/section_bg02.png' %}');">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-9">

<div class="section-tittle section-tittle2 mb-50">
    <h2>Our Team</h2>
<p>Who made this possible</p>
<!--<a href="#" class="btn white-btn mt-30">View Spackert</a>-->
</div>
</div>
    {% if teams %}
    {% for team in teams %}
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="single-team mb-30">
<div class="team-img">
<img src="{{ team.photo.url }}" alt="">

<ul class="team-social">
    {% if team.facebook_url %}
<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    {% endif %}
{% if team.twitter_url %}
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
{% endif %}
{% if team.website %}
<li><a href="#"><i class="fas fa-globe"></i></a></li>
{% endif %}
</ul>
</div>
<div class="team-caption">
<h3><a href="#">{{ team.name }}</a></h3>
<p>{{ team.designation }}</p>
</div>
</div>
</div>
        {% endfor %}
{% endif %}
</div>
</div>
</section>
{% if galleries %}
<div class="gallery-area fix">
<div class="container-fluid p-0">
<div class="row no-gutters">
    {% for gallery in galleries %}
<div class="col-lg-3 col-md-3 col-sm-6">
<div class="gallery-box">
<div class="single-gallery">
<div class="gallery-img " style="background-image: url({{ gallery.image.url }});"></div>
</div>
</div>
</div>
    {% endfor %}
</div>
</div>
</div>
{% endif %}
{% if sponsors %}
<section class="work-company section-padding30" style="background: #2e0e8c;">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5 col-md-8">

<div class="section-tittle section-tittle2 mb-50">
<h2>Our Top Sponsors and Industry Partners</h2>
<p>Sponsors, Internet, Technical and Industry Partners</p>
</div>
</div>
<div class="col-lg-7">
<div class="logo-area">
<div class="row">
    {% for sponsor in sponsors %}
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="single-logo mb-30">
    <a href="{{ sponsor.website }}"> <img src="{{ sponsor.logo.url }}" alt="" style="max-width: 200px;"></a>
    <p style="color: white; text-align: center;">{{ sponsor.partner_type }}</p>
</div>
</div>
    {% endfor %}
</div>
</div>
</div>
</div>
</div>
</section>
{% endif %}
{% endblock %}