{% extends 'base.html' %}
{% block content %}
<div class="events">
  <div
    class="uk-height-medium uk-background-cover uk-light"
    data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80"
    data-srcset="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=1300&h=866&q=80 1300w"
    data-sizes="(min-width: 650px) 650px, 100vw"
    uk-img
  >
    <div class="uk-height-medium uk-flex uk-flex-middle">
      <div class="uk-container" style="width: 100%">
        <h1 class="title">Our News & Blogs</h1>
      </div>
    </div>
  </div>
  <div class="events-content">
    <div class="uk-container">
      <div class="heading uk-text-center">Checkout Our News & Blogs</div>
      <div uk-grid>
          {% if news %}
          {% for news_post in news %}
        <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-2@s">
          <div class="events-card">
            <div class="events-card__image">
              <a href="{% url 'news_detail' news_post.slug %}">
                <img
                  src="{{ news_post.thumbnail.url }}"
                  alt=""
                />
              </a>
            </div>
            <div class="events-card__content">
              <div class="type uk-text-capitalize">{{ news_post.category }}</div>
              <a href="{% url 'news_detail' news_post.slug %}">
                <div class="title">{{ news_post.title }}</div>
              </a>
              <div class="uk-text-light text">
                {{ news_post.detail | safe }}
              </div>
              <div class="readmore">
                <a class="uk-button uk-button-text" href="{% url 'news_detail' news_post.slug %}"
                  >Read more</a
                >
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}