{% extends 'base.html' %}
{% block content %}
<div class="events">
  <div
    class="uk-height-medium uk-background-cover uk-light"
    data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80"
    data-srcset="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=1300&h=866&q=80 1300w"
    data-sizes="(min-width: 650px) 650px, 100vw"
    uk-img
  >
    <div class="uk-height-medium uk-flex uk-flex-middle">
      <div class="uk-container" style="width: 100%">
        <h1 class="title">Our News & Blogs</h1>
      </div>
    </div>
  </div>
  <div class="events-content">
    <div class="uk-container">
      <div class="heading uk-text-center">Checkout Our News & Blogs</div>
      <div uk-grid>
        <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-2@s">
          <div class="events-card">
            <div class="events-card__image">
              <a href="newssingle.html">
                <img
                  src="https://images.unsplash.com/photo-1573495804669-cd114be49e90?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                  alt=""
                />
              </a>
            </div>
            <div class="events-card__content">
              <div class="type uk-text-capitalize">educational</div>
              <a href="newssingle.html">
                <div class="title">How to make a Noob Tilt and rage quit</div>
              </a>
              <div class="uk-text-light text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
                explicabo labore distinctio, autem assumenda recusandae?
                Possimus, qui eum similique velit, fuga voluptatem amet modi hic
                in tempora iusto magnam? Deserunt.
              </div>
              <div class="readmore">
                <a class="uk-button uk-button-text" href="newssingle.html"
                  >Read more</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-2@s">
          <div class="events-card">
            <div class="events-card__image">
              <a href="eventssingle.html">
                <img
                  src="https://images.unsplash.com/photo-1573495804669-cd114be49e90?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                  alt=""
                />
              </a>
            </div>
            <div class="events-card__content">
              <div class="type uk-text-capitalize">educational</div>
              <a href="eventssingle.html">
                <div class="title">How to make a Noob Tilt and rage quit</div>
              </a>
              <div class="uk-text-light text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
                explicabo labore distinctio, autem assumenda recusandae?
                Possimus, qui eum similique velit, fuga voluptatem amet modi hic
                in tempora iusto magnam? Deserunt.
              </div>
              <div class="readmore">
                <a class="uk-button uk-button-text" href="eventssingle.html"
                  >Read more</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-2@s">
          <div class="events-card">
            <div class="events-card__image">
              <a href="eventssingle.html">
                <img
                  src="https://images.unsplash.com/photo-1573495804669-cd114be49e90?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                  alt=""
                />
              </a>
            </div>
            <div class="events-card__content">
              <div class="type uk-text-capitalize">educational</div>
              <a href="eventssingle.html">
                <div class="title">How to make a Noob Tilt and rage quit</div>
              </a>
              <div class="uk-text-light text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
                explicabo labore distinctio, autem assumenda recusandae?
                Possimus, qui eum similique velit, fuga voluptatem amet modi hic
                in tempora iusto magnam? Deserunt.
              </div>
              <div class="readmore">
                <a class="uk-button uk-button-text" href="eventssingle.html"
                  >Read more</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-2@s">
          <div class="events-card">
            <div class="events-card__image">
              <a href="eventssingle.html">
                <img
                  src="https://images.unsplash.com/photo-1573495804669-cd114be49e90?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                  alt=""
                />
              </a>
            </div>
            <div class="events-card__content">
              <div class="type uk-text-capitalize">educational</div>
              <a href="eventssingle.html">
                <div class="title">How to make a Noob Tilt and rage quit</div>
              </a>
              <div class="uk-text-light text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
                explicabo labore distinctio, autem assumenda recusandae?
                Possimus, qui eum similique velit, fuga voluptatem amet modi hic
                in tempora iusto magnam? Deserunt.
              </div>
              <div class="readmore">
                <a class="uk-button uk-button-text" href="eventssingle.html"
                  >Read more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}