{% extends 'base.html' %}
{% block content %}
<div class="news">
  <div class="uk-container">
    <div class="news-content">
      <div class="news-content__tag uk-text-capitalize">{{ news.category }}</div>
      <div class="title">
        {{ news.title }}
      </div>
      <div class="news-content__image">
        <img
          src="{{ news.thumbnail.url }}"
          alt=""
        />
      </div>
      <div class="news-content__intro">
        <div class="uk-flex childcontent">
          <div class="uk-flex misc">
            <div class="author uk-flex uk-margin-medium-right">
              <span
                uk-icon="user"
                class="uk-icon-button uk-margin-small-right"
              ></span>
              <div class="uk-text">By {{ news.author }}</div>
            </div>
            <div class="date uk-flex">
              <span
                uk-icon="calendar"
                class="uk-icon-button uk-margin-small-right"
              ></span>
              <div class="uk-text">{{ news.published_date }}</div>
            </div>
          </div>
          <div class="share uk-flex">
            <div class="uk-text uk-margin-medium-right">Share</div>
            <ul class="share-socialicon uk-flex">
              <li>
                <a
                  href="http://www.facebook.com/sharer/sharer.php?u=http://hpc.ku.edu.np{% url 'news_detail' news.slug %}"
                  class="uk-icon-button uk-margin-small-right"
                  uk-icon="twitter"
                ></a>
              </li>
              <li>
                <a
                  href="http://www.facebook.com/sharer/sharer.php?u=http://hpc.ku.edu.np{% url 'news_detail' news.slug %}"
                  class="uk-icon-button uk-margin-small-right"
                  uk-icon="facebook"
                ></a>
              </li>
              <li>
                <a href="http://www.facebook.com/sharer/sharer.php?u=http://hpc.ku.edu.np{% url 'news_detail' news.slug %}" class="uk-icon-button" uk-icon="linkedin"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="news-content__description text">
        {{ news.detail | safe }}
      </div>
    </div>
    <div class="news-slides">
      <div class="uk-container">
        <div class="heading">Recommedation for you</div>
        <div class="news-slides__content">
          <div uk-grid>
              {% if recommended_news %}
              {% for news in recommended_news %}
            <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s">
              <div class="events-card">
                <div class="events-card__image">
                  <a href="{% url 'news_detail' news.slug %}">
                    <img
                      src="{{ news.thumbnail.url }}"
                      alt=""
                    />
                  </a>
                </div>
                <div class="events-card__content">
                  <div class="type uk-text-capitalize">{{ news.category }}</div>
                  <a href="{% url 'news_detail' news.slug %}">
                    <div class="title">
                      {{ news.title }}
                    </div>
                  </a>
                  <div class="uk-text-light text">
                   {{ news.detail | safe }}
                  </div>
                  <div class="readmore">
                    <a class="uk-button uk-button-text" href="{% url 'news_detail' news.slug %}"
                      >Read more</a
                    >
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}